body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(css/fondo.png);
}

.container {
    max-width: 400px;
    width: 100%;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    border-radius: 50%;
}

h2 {
    margin-top: 10px;
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #555;
}

.social-icons {
    margin-top: 20px;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
