body { 
    position: absolute; 
    text-align: center;
    top: 10rem;
}
.container{
    display: inline-block;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}